* {
    -border-color: #7e7e7e;
}

#authorVBox {
    -fx-background-radius: 15;
    -fx-border-color: -border-color;
    -fx-border-radius: 15;
}

#authorButton {
    -fx-background-radius: 2;
    -fx-border-color: -border-color;
    -fx-border-radius: 2;
}