* {
    -border-color: #7e7e7e;
}

#rankVBox {
    -fx-background-radius: 15;
    -fx-border-color: -border-color;
    -fx-border-radius: 15;
    -fx-padding: 5;
}

#rankButton {
    -fx-background-radius: 20;
    -fx-border-color: -border-color;
    -fx-border-radius: 20;
    -fx-padding: 5;
}